<form (submit)="save()" [formGroup]="form">
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput placeholder="Name" formControlName="name" required>
    <mat-error>
      Name is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Age</mat-label>
    <input matInput formControlName="dateOfBirth" [matDatepicker]="picker">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    <mat-error>
      Age is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <h4>Select Picture :</h4>
  <app-input-img
    [urlCurrentImage]="model.picture"
    (imageBase64Change)="imageBase64Change($event)">
  </app-input-img>
  <app-input-markdown></app-input-markdown>

  <h4>Biography :</h4>
  <div>
    <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Save</button>
    <button mat-raised-button color="warn" type="button" routerLink="/actors">Cancel</button>
  </div>
</form>
