<h1>hello {{title}}</h1>
<p>{{title}}</p>
<div>
  the dupplicate of 3 = {{duplicateNumber(3 )}}
</div>
<h2>The Movies Available : </h2>
<img *ngIf="!movies" src="https://upload.wikimedia.org/wikipedia/commons/b/b1/Loading_icon.gif?20151024034921" alt="loading" class="loading">
<div *ngIf="movies?.length === 0">
  <p>there are no records to display</p>
</div>
<div *ngFor="let movie of movies ; let index = index" class="movie-container">
  <p>index : {{index}}</p>
  <p>title : {{movie.title | uppercase}}</p>
  <p>year : {{movie.year}}</p>
  <p>movie : {{movie.rating}}</p>
  <p>date : {{movie.date | date:"dd-MMMM-yy" | uppercase}}</p>
  <p>price : {{movie.price | currency}}</p>
</div>
